<!DOCTYPE HTML>
<html lang="ja">
<head>
 <meta charset="UTF-8">
 <title>Backbone.js - Books</title>
 <script type="text/javascript" src="js/lib/jquery-1.9.1.js"></script>
 <script type="text/javascript" src="js/lib/json2.js"></script>
 <script type="text/javascript" src="js/lib/underscore.js"></script>
 <script type="text/javascript" src="js/lib/backbone.js"></script>
 <script type="text/javascript" src="js/book.js"></script>
 <script type="text/javascript" src="js/books.js"></script>
</head>
<body>
  <div id="bookapp">
    <div id="navigation">
      <ul>
        <li id="regist">Regist</li>
      </ul>
    </div>
    <div id="regist_form" style="display:none;">
      <input id="name" type="text"> 
      <input id="volume" type="volume"> 
      <input id="add" type="button">
    </div>
    <div>
      <table>
        <thead>
        <tr>
          <th>name</th>
          <th>volume</th>
        </tr>
        </thead>
        <tbody id="book_list">
        </tbody>
      </table>
    </div>
  </div>
</body>
<script type="text/template" id="list-template">
    <% _.each(list.models, function(r) { %>
    <tr>
      <td><%= r.get("name") %></td>
      <td><%= r.get("volume") %></td>
    </tr>
    <% }); %>
</script>
</html>
